@import 'reset';

.container{
  margin: 0 auto;
  padding: 0 20vw;
  margin-top: 150px;
  text-align: center;
  #head{
    font-size: 5em;
    font-weight: 100;
  }
  a{
    padding-left: 8px;
    font-size: 21px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 10px;
  }
}
