<% include ./partials/header %>

    <div class="container">
      <div id="head">Web Starter Kit</div>
      <hr>
      <a href="http://www.kinshukghildial.com">Kinshuk Ghildial</a>
    </div>

<% include ./partials/footer %>
